<div class="img">
  <br>
<div class="container">
    <h2>Ailemize Hoşgeldin</h2>
    <form #registerForm="ngForm">
     
  
      <div class="form-group">
        <label for="name">Ad Soyad:</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="user.name" required>
      </div>
  
      <div class="form-group">
        <label for="birthdate">Doğum Tarihi:</label>
        <input type="date" class="form-control" name="birthdate" [(ngModel)]="user.birthdate" required>
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required>
      </div>
  
      <div class="form-group">
        <label for="password">Şifre:</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required>
      </div>
  
      <div class="form-group" >
        <label for="education">Eğitim Durumu:</label>
        <select class="form-control" name="education" [(ngModel)]="user.education" required>
          <option value="ilkokul">İlkokul</option>
          <option value="ortaokul">Ortaokul</option>
          <option value="lise">Lise</option>
          <option value="üniversite">Üniversite</option>
          <option value="mezun">Mezun</option>

          
        </select>
      </div>
  
      <button type="submit" class="btn btn-outline-dark" routerLink="/login">Kayıt Ol</button>
    </form>
  </div>
</div>