<div class="golge">
   <div class=" background-image">
   </div>
   <div class="title">
      CG-WORKSPACE
   </div>
   <h4>Bizimle birlikte bu yenilikçi ortamda çalışmak için</h4>
   <div class="rez">
      <input type="button" class="btn btn-outline-light" value="Rezarvasyon Al">
   </div>
</div>
<div>
   <div #scrollTarget style="height: 800px; /* Scroll yapılabilir alan için bir yükseklik belirleyin */"></div>

   <div #destinationElement>
      <!-- Burası hedef bölüm -->
      Hedef İçerik
   </div>
</div>

